
header{
    margin-bottom: 4rem;
}

.logo a{
    text-decoration: none;
}

h6{
    font-size: 40px;
    color: aliceblue;
}

.top_header, .bottom_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_header{
    background-color: #33383c;
    padding: 1rem 15rem;
}

.bottom_header{
    background-color: #202325;
    padding: 1rem 25rem;
}

.wrapper form input{
    width: 40rem;
    height: 30px;
    border: none;
}

.wrapper form button{
    height: 30px;
    padding: 0 10px;
    border: none;
}

.logout button{
    font-size: 15px;
}

.auth{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.auth a{
    width: 80px;
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
}

.bottom_header a{
    color: aliceblue;
}

.item a{
    font-size: 16px;
}


